@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  /* add margin-top if needed */
  margin-top: 3rem;
  background-color: #86bbd8;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
